
        body{
            background-color: rgb(141, 77, 77);
        }
        h1{
            background-color: black;
            color: gold;
        }
        h2{
            background-color: black;
            color: gold;
        }
        p{
            background-color: chocolate;
            color: blue;
        }
        a{
            color: black;
        }
        ul{
            background-color: blanchedalmond;
        }
        ol{
            background-color: chartreuse;
        }
 